*{
    margin-top:10px;
    margin-bottom:10px;
    margin-left:10px;
    margin-right:10px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:10px;
    padding-right:10px;
}
body{
    background-image: url(https://webneel.com/daily/sites/default/files/images/daily/01-2014/6-happy-republic-day.jpg);
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-size:cover;
}

h1{
    color: black;
    position: relative;
    margin-top: 23%;
    font-weight: 800;
    font-size: 60px;
}
body{
    text-align: center;
    align-content: center;
}
